<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#if site.homeUrl}}
  <a href="{{relativize page.url site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{> page-versions}}
  {{#if (and page.editUrl (not page.origin.private))}}
  <div class="edit-this-page"><a href="{{page.editUrl}}"><i class="fas fa-user-edit" ></i>&nbsp;Contribute to this Page</a></div>
  {{/if}}
</div>
